<header class="border-bottom-thick px-2 clearfix" style="position: fixed;top:0;width: 100%;background-color:#fff;">
  <div class="left sm-width-full py-1 mt-1 mt-lg-0">
    <a class="align-middle link-primary text-accent" href="{{ site.baseurl }}/">
      {{ site.title }}
    </a>
  </div>
  <div class="right sm-width-full">
    <ul class="list-reset mt-lg-1 mb-2 mb-lg-1">
        <li class="inline-block">
          <a class="align-middle link-primary mr-2 mr-lg-0 ml-lg-2" href="{{ site.baseurl }}/#1">
            1. Select a Manifest
          </a>
        </li>
        <li class="inline-block">
          <a class="align-middle link-primary mr-2 mr-lg-0 ml-lg-2" href="{{ site.baseurl }}/#2">
            2. Add Annotations
          </a>
        </li>
        <li class="inline-block">
          <a class="align-middle link-primary mr-2 mr-lg-0 ml-lg-2" href="{{ site.baseurl }}/#3">
            3. Store Annotations
          </a>
        </li>
    </ul>
  </div>
</header>
